@import (reference) '../../shared-styles/colors.less';
.postContainer {
  h1, h2, h3, h4, h5, h6 {
    color: @primary-orange;
  }

  a {
    color: @primary-orange;
  }

  // heading links are added by a plugin, so need to use global
  :global(.heading-link) path {
    fill: @primary-orange
  }
}
