@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Raleway:500');

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #282828;
}